<!--
To change this template use Tools | Templates.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
 <div class="row">
        
         <div class="col-lg-6">
                         
          <img id="thm3" src="http://static1.gamespot.com/uploads/original/1179/11799911/2863350-ark1.jpg" alt="ark bronto" style="width:300px;height:250px;" alt="...">
            
        </div>
    
    <div class="col-lg-6">
     <textarea id="thm4" rows="16" cols="70">
        At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
        </textarea>
        </div>
    </div>
    <section>
           <div class="col-lg-6">
               <p id="thm5">
                   Pellentesque habitant morbi tristique senectus et netus 
                   et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit ame
                   t, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit
                   amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermen
                   tum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facil
                   isis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat
                   . Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metusPellentesque habitant morbi tristique senectus et netus et malesuada fame
                   s ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean 
                   ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commod
                   o vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non en
                   im in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
                   erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
               </p>
        </div>
        <div class="col-lg-6">
            <textarea id="thm4" rows="25" cols="70">
        At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
        </textarea>
        </div>
    </section>

<hr>
    <div class="row">
        
   
    <div class="col-md-4" id="thm7">
        <img id="thm6" src="http://static1.gamespot.com/uploads/original/1179/11799911/2863350-ark1.jpg" alt="ark bronto" style="width:300px;height:250px;" alt="...">
        </div>
        <div class="col-md-4">
        <img id="thm6" src="http://static1.gamespot.com/uploads/original/1179/11799911/2863350-ark1.jpg" alt="ark bronto" style="width:300px;height:250px;" alt="...">
        </div>
        <div class="col-md-4">
        <img id="thm8" src="http://static1.gamespot.com/uploads/original/1179/11799911/2863350-ark1.jpg" alt="ark bronto" style="width:300px;height:250px;" alt="...">
        </div>
     </div>
    </div>
</body>
</html>